{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
	<div class="row align-items-center">
		<div class="col-md-6 col-sm-10 col-xs-12 mx-auto align-middle">
			{% if request.user.is_authenticated %}
			Olá {{request.user.username}}
			<a class="btn btn-primary" href="{% url 'core:logout' %}">Sair</a>
			{% else %}
			<a class="btn btn-primary" href="{% url 'core:login' %}">Login</a>
			{% endif %}

			<form id="product" method="post" class="form-signin"> {% csrf_token %}
				<h1 class="text-center">Cadastrar Produto</h1>
				<div id="error">
				</div>

				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Nome</span>
					</div>
					<input type="text" class="form-control" placeholder="Nome" aria-label="Nome" name="name" id="inputName">
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Preço</span>
					</div>
					<input type="text" class="form-control" placeholder="Preço" aria-label="Preço" name="price" id="inputPrice">
				</div>

				<button type="submit" class="btn btn-block btn-outline-success">Cadastrar</button>

			</form>
		</div>
	</div>

	<div class="row align-items-center">
		<div class="mt-4 col-md-6 col-sm-10 col-xs-12 mx-auto align-middle">
			<table id="list" class="table table-bordered">
				<thead>
					<tr>
						<th scope="col" width="10%">#</th>
						<th scope="col" width="50%">Nome</th>
						<th scope="col" width="20%">Preço</th>
						<th scope="col" width="10%">Estoque</th>
						<th scope="col" width="10%">#</th>
					</tr>
				</thead>
				<tbody>
					{% for p in products %}
					<tr>
						<th scope="row">{{ p.id }}</th>
						<td>{{ p.name }}</td>
						<td>{{ p.price }}</td>
						<td>{{ p.quantity }}</td>
						<td><a class="btn btn-sm btn-danger" onclick=deleteProduct({{p.id}}) href="#"><i class="fa fa-trash"></i></a></td>
					</tr>
					{% endfor %}
					<tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="mt-4 col-md-6 col-sm-10 col-xs-12 mx-auto align-middle">
			<form id="operation" method="post" class="form-signin"> {% csrf_token %}
				<h1 class="text-center">Cadastrar Operação</h1>
				<div id="error2">
				</div>
				<div id="list3" class="input-group mb-3">
				  <div class="input-group-prepend">
				    <label class="input-group-text" for="inputGroupSelect01">Produto</label>
				  </div>
				  <select id="inputProduct" class="custom-select">
				    <option selected>Escolha</option>
					{% for p in products %}
				    <option value="{{p.id}}">{{p.name}}</option>
					{% endfor %}
				  </select>
				</div>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Quantidade</span>
					</div>
					<input type="text" class="form-control" placeholder="Quantidade" aria-label="Quantidade" name="quantity" id="inputQuantity">
				</div>
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
				    <label class="input-group-text" for="inputGroupSelect01">Status</label>
				  </div>
				  <select id="inputStatus" class="custom-select">
				    <option selected>Escolha</option>
				    <option value="Entrada">Entrada</option>
				    <option value="Saída">Saída</option>
				  </select>
				</div>
				<button type="submit" class="btn btn-block btn-outline-success">Cadastrar</button>

			</form>
			<table id="list2" class="mt-4 table table-bordered">
				<thead>
					<tr>
						<th scope="col" width="10%">#</th>
						<th scope="col" width="70%">Produto</th>
						<th scope="col" width="10%">Quantidade</th>
						<th scope="col" width="10%">#</th>
					</tr>
				</thead>
				<tbody>
					{% for o in operations %}
					<tr>
						<th scope="row">{{ o.id }}</th>
						<td>{{ o.name }}</td>
						<td>{{ o.quantity }}</td>
						<td><a class="btn btn-sm btn-danger" onclick=deleteOperation({{o.id}}) href="#"><i class="fa fa-trash"></i></a></td>
					</tr>
					{% endfor %}
					<tr>
					</tbody>
				</table>
			</div>
	</div>

	{% endblock %}

	{% block js %}
	{{block.super}}
	{% include 'ajax.html' %}
	{% endblock %}